.header_date {
  width: 90%;
  margin: auto;
}

.header_date_title {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: var(--gray-800);
  text-align: left;
  border-bottom: solid 2px var(--gray-200);
}

.header_date_day {
  color: var(--primary);
  font-weight: 800;
  font-size: 22px;
}
