.info_detail_footer {
  width: 100%;
  height: 40px;
  background-image: url("/img/footerImg.svg");
  background-repeat: repeat;
  background-position: right;
  position: fixed;
  bottom: 40px;
  left: 0;
  opacity: 0.3;
  margin: 0;
  padding: 0;
  /* mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
}
.info__texts {
  width: 100%;
  height: calc(100vh - 185px);
  color: var(--gray-800);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  overflow: auto;
  padding: 10px;
}
.info__texts__text{
  width: 100%;
}
.info__link {
  font-weight: 700;
  cursor: pointer;
  color: var(--primary);
  font-size: 14px;
  padding-bottom: 10px;
}

.info__link:hover {
  font-weight: 700;
  padding: 3px 12px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  color: var(--primary);
  background-color: var(--white);
  border-radius: 6px;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  height: 28px;
  margin-top: 20px;
  opacity: 0.7;
  box-shadow: #d1d9e6 2px 2px 5px;
}

.info__line {
  width: 100%;
  border-bottom: var(--gray-200) 1px solid;
}
.strong{
  font-weight: 700;
  color:black
}
@media all and (min-width: 768px) {
  .info__texts {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}
@media all and (min-width: 1024px) {
  .info__link {
    font-size: 18px;
  }
  .info__texts {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .info__texts__text {
    margin: 30px 0;
  }
}
