*:focus {
  outline: none;
}

.reset_info_signIn {
  background-color: var(--white);
  fill: var(--primary);
  padding: 2px 3px;
  border-radius: 100%;
  font-weight: bold;
  font-size: 20px;
  width: 40px;
  height: 40px;
  box-shadow: 3px 3px 6px var(--gray-600);
  /* border: 2px solid var(--primary); */
  margin-top: 20px;
  position: fixed;
  right: 30px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-decoration: none;
}

.reset_info_signIn:hover {
  fill: var(--white);
  background-color: var(--primary);
  box-shadow: 5px 5px 6px var(--gray-600);
}

.logo {
  width: 100px;
  margin-bottom: 10px;
}

.signIn {
  max-width: 384px;
  width: 80%;
  margin: auto;
  margin-top: 70px;
}

.signIn_form {
  max-width: 384px;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
}

.title_signIn {
  margin-bottom: 20px;
  text-align: left;
}

.form_input {
  max-width: 384px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  height: 40px;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  appearance: none;
  color: var(--black-200);
  background-color: var(--gray-200);
}

.form_label {
  margin: 14px 0 4px;
  color: var(--black-200);
  font-size: 14px;
  font-weight: 700;
}

.signIn_btn {
  max-width: 384px;
  margin-top: 20px;
  width: 100%;
  padding: 10px 16px;
  cursor: pointer;
  border: none;
  background: var(--primary);
  color: var(--white);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  height: 40px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.signIn_btn:hover {
  opacity: 0.7;
}

.signIn-img {
  width: 100%;
  height: 300px;
  /* background-color: chocolate; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.signIn_img_rocket {
  width: 70%;
  margin-top: 50px;
  background-image: url('./img/rocket.svg');
  height: 100%;
  background-repeat: no-repeat;
  /* background-color: chocolate; */
}

@media screen and (min-width: 750px) {
  .signIn {
    max-width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
  }
  .sigIn_form {
    width: 60%;
  }

  .title_signIn {
    text-align: center;
  }

  .signIn-img {
    width: 50%;
    height: 600px;
  }

  .signIn_img_rocket {
    width: 70%;
    background-image: url('./img/cat.svg');
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0.7;
  }
  .signIn_form {
    margin: auto;
  }
}
